<!doctype html>
<html lang="ru">
<%- include("partials/head.ejs")%>
<body>
<%- include("partials/header.ejs")%>
<main>
    <div>
        <h1>Давайте создадим мебель вашей мечты</h1>
        <p>Миру нужны новаторы и гении, которые превращают <br>
            вызовы в большие возможности.</p>
        <a class="btn" href="#">Подробнее</a>
    </div>
</main>
</body>
</html>