<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<header>
    <div><img src="img/Logo.png" alt="#"></div>
    <div class="nav">
        <a href="#">Главная</a>
        <a href="#">О нас</a>
        <a href="#">Товары</a>
        <a href="#">Отзывы</a>
        <a href="#">Контакты</a>
    </div>
</header>
<main>
    <div>
        <h1>Давайте создадим мебель вашей мечты</h1>
        <p>Миру нужны новаторы и гении, которые превращают <br>
            вызовы в большие возможности.</p>
        <a class="btn" href="#">Подробнее</a>
    </div>
</main>
</body>
</html>