<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/slider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/slider.css">
    <title>Slider</title>
</head>
<body>
<div class="slider">

    <div class="item">
        <img src="../img/IMAGE(4).png">
        <div class="text">
            <p>Табурет - не пропердет</p>
            <a class="btn" href="#">Смотреть далее</a>
        </div>

    </div>

    <div class="item">
        <img src="../img/IMAGE%20(1).png">
        <div class="text">
            <p>Хуита сказочная</p>
            <a class="btn" href="#">Смотреть далее</a>
        </div>
    </div>

    <div class="item">
        <img src="../img/IMAGE%20(2).png">
        <div class="text">
            <p>Говнина поджепная</p>
            <a class="btn" href="#">Смотреть далее</a>
        </div>
    </div>

    <a class="previous" onclick="previousSlide()">&#10094;</a>
    <a class="next" onclick="nextSlide()">&#10095;</a>
</div>
</body>
<script src="../js/slider.js"></script>
</html>